@import '@clab/config/theme.css';

@source "../../../packages/design-system/src";

:root {
  --foreground: #171717;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  font-family: var(--font-wantedSans);
}
